.mh-map-field {
    height: 300px;
    width: 400px;

    &__find-location {
        background: #fff;
        border-radius: 2px;
        bottom: 2px;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        font-weight: bold;
        left: 2px;
        padding: 5px 10px;
        z-index: 800;

        &:hover {
            background-color: #f8f8f8;
        }
    }
}